html {
  height: 100%;
  width: 100%;
}

body {
  background-image: url('imagemDeFundo.jpg');
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
}
header {
  color: #fff;
  padding: 20px;
  text-align: center;
}

h2 {
  color: #0a0a0a;
  font-size: 24px;
  margin-bottom: 10px;
}

.vila{
  background-color: #ccc7c7;
  padding: 10px;
  border-radius: 150px;
  border-width: 150%;
}

nav ul.vila {
  list-style-type: none;
  margin: 50 90px;
  padding: 0;
  background-color: #4582b0;
  border-radius: 90px;
}

.aldeia ul {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 50px;
}

.aldeia ul li {
  list-style: none;
  margin: 5px;
  flex: 1 1 calc(33.33% - 10px);
  box-sizing: border-box;
}

.areia {
  display: block;
  background-color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  color: #333;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  transition: background-color 0.3s ease;
}

.areia:hover {
  background-color: #f0f0f0;
}

nav a.folha {
  color: #ffffff;
  text-decoration: none;
  margin: 0 10px;
}

nav a.folha:hover {
  color: #a82929;
}